.container { align-items: center; }
.cms-product-area { padding-bottom: 50px; }
.row { flex-direction: row;}
.pro-area { flex: 1; height: 550px;}
.pro-img { width: 375px; flex: 1; }
.pro-info, .pro-price { width: 375px; font-size: 24px; text-align: center; padding-top: 34px; }