.DS_Store
node_modules/
bower_components/
**/dist/*
**/uploads/*
*.swp
*.swo
*.swn
.idea
npm-debug.log
yarn-error.log
.nvmrc
.vscode
typings/*
typings.json
config.js
templates/**/README.md
templates/**/assets/
templates/**/build/
templates/**/customized_modules/
templates/**/index.html
templates/**/package.json
templates/**/webpack.config.js
templates/**/weex.html