scroller.container(show-scrollbar="false")
	.header
		image.logo(src="//h5.mi.com/p/ghd/2017/xgs0315/static/img/header.3319717.jpg")
		.word-area
			text.info 产品设计，可以是幽默的、严肃的或是大胆的，
			text.info 可以是无拘无束的、充满巧思的或者富有热情的。
			text.info 越来越多的小米产catpa品获得国内外的设计大奖，
			text.info 这让我们更有信心提供美好的生活方式给用户，
			text.info 让每个人，都能尽情享受科技的乐趣。
		image.germany-award(src="https://h5.mi.com/p/ghd/2017/xgs0315/static/img/header2.3319717.jpg")
		.word-area
			text.info.fn-left 创立于1953 年，由德国历史最悠久的工业设计机构——汉诺威工业设计论坛（iF Industrie Forum Design）每年定期评选，以“独立、严谨、可靠”的评奖理念闻名于世。它旨在提升大众对于设计的认知，是全球最重要的设计奖项，素有“产品设计界的奥斯卡奖”之称。
	.cms-product-area
		product-two-col(:productList="cmsData.deguojiang.items")
		product-one-col(:productList="cmsData.hongdianjiang.items")